.dayCaption{
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 40px 0 20px 0;
}

.calendarRow{
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  margin: 15px 0;
}

.calendarRow + .calendarRow{
  margin-top: 10px;
}

.calendarDay{
  color: rgb(16, 16, 109);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1.45;
  color: #B8B8B8;
}



