
.calendarRow{
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  margin: 15px 0;
}


.calendarDay{
  color: rgb(40, 181, 216);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1.45;
  color: #e3eea7;
}



